@import url('../css/aos.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css');

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

html {
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  font-size: 16px !important;
  font-family: 'Open Sans', 'Poppins' !important;
  height: 100%;
  background: rgb(250, 250, 250);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


ul, ol, dl {
  margin-bottom: 1rem;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  float: left;
  /* padding-right: 15px; */
}

.hyperlink {
  /* display: block; */
  cursor: pointer;
  text-decoration: none;
  color: #0d37ab;
  border-bottom: 0.2rem solid #0d37ab83;
  padding-right: 0;
}

.hyperlink:hover {
  border-bottom: 0.2rem solid #0d37ab;
}

.height-30 {
  height: 40px;
}

.height-20 {
  height: 20px;
}

.block {
  display: block;
  
}

h1, h2, h3, h4, h5, h6 {
  /* margin: 0 auto 0 auto; */
}

.bigheading {
  font-size: 4rem;
  font-weight: 600;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  z-index: -10;
}

.absolute {
  position: absolute;
}

.row {
  margin-top: 6em;
  margin-bottom: 40px;
}

.row-padding {
  padding-top: 5em;
  padding-bottom: 3em;
}

.full-height {
  height: 900px;
  /* height: 100%; */
  /* background: red; */
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.fixed {
  position: fixed;
}


::-webkit-scrollbar {
  z-index: 200;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d1d1d1; 
}
 
::-webkit-scrollbar-thumb {
  background: #a1a1a1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b; 
}

.highlightSe {
  background: rgba(20, 141, 255, 0.917);
  color: #fff;
}

.line-height {
  line-height: 40px;
}

.subheading {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar {
  height: 74px;
  background: transparent !important;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  /* margin-bottom: 0; */
  /* padding: 0 20px; */
}

.nav-expand {
  height: 424px !important;
  position: relative;
  transition: all 300ms ease-in-out !important;
}

/* .navbar-mobile {
  top: 74px;
} */



.scrolled {
  position: fixed !important;
  width: 100% !important;
  background: rgb(255, 255, 255) !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: -130px;
  z-index: 100;
}

.sleep {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.navbar-nav {
  position: relative;
  margin: 10px 0 0 400px  !important;
  font-weight: 400;
  font-family: "Poppins";
}

.navbar-nav>li>a {
  margin: 20px auto;
  line-height: 20px;
}

.nav {
  z-index: 10;
}

.nav-item {
  height: 36px;
  margin: auto 10px;
}

.nav-link {
  user-select: none;
  position: relative;
  bottom: 5px;
  z-index: 50;
  margin: 0 20px;
}

.nav-item:hover > a {
  border-bottom: 2px solid #0075f6 !important;
}

/* .nav-link */
li.active > a{
  /* text-decoration: underline; */
  /* background: #000; */
  color: #0075f6 !important;
  border-bottom: 2px solid #0075f6 !important;
  /* font-weight: bold; */
  /* text-decoration: underline; */
}

.navbar-brand {
  font-weight: 700;
  position: relative;
  top: 7px;
  font-size: 2.2rem !important;
  margin-top: 4px;
  font-family: Poppins;
  z-index: 100;
  /* left: 8px; */
  /* font-family: "Titillium Web"; */
}

.navbar-brand .firstLetter {
  color: #fff;
  background: #008cff;
  padding: 2px 10px 2px 10px;
  border-radius: 50%;
  position: relative;
  right: -7.8px;
  z-index: -1;
}

.navbar-brand .otherLetters {
  letter-spacing: 0.6px;
  z-index: 3;
}

/* .menu-btn */

.hero-section1 {
  width: 100%;
  height: 100vh;
  /* margin-bottom: 30px; */
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section1 .overlay-half-x {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  /* opacity: 0.1; */
  background: #3e82ff1c;
  z-index: -1;
  /* height: 452px; */
}

.info {
  display: flex;
  justify-content: center;
  height: 960px;
  align-items: center;
  /* transition: all 200ms ease-in-out; */
  /* position: relative; */
  /* margin: 400px 0; */
}

.align-items-center {

}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  transition: all 300ms ease-in-out !important;
  /* position: absolute;
  bottom: 400px; */
  /* margin: auto 0; */
  /* text-align: center; */
}

.portfolio-section2 {
  width: 100%;
}

.f-section {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
}

.f-section2 {
  /* display: flex; */
  /* width: 80%; */
}

.container-content {
  margin: 0 0 0 auto;
  position: relative;
}

.container-side-nav {
  position: absolute;
  margin: 0 0 0 0;
}

/* Side Menu */

.hidden {
  display: none;
}

.nav-desktop {
  height: 200px;
  bottom: 0;
  left: -40px;
  width: 100%;
  position: relative;
  display: flex;
  /* position: fixed; */
  /* display: none; */
  /* background: #008cff; */
}

.nav-desktop a {
  display: block;
  padding: 4px 0 4px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 39px;
  z-index: 2;
  transition: 0.3s
}

.nav-desktop-items {
  color: black;
  display: inline;
}

.skills-container-circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-skill {
  text-align: center;
  border-radius: 4px;
  height: 320px;
  box-shadow: 0px 0.2px 10px rgba(41, 41, 41, 0.253);
  width: 28%;
  margin-right: 29px;
}

.service-icon {
  height: 35px;
  width: 35px;
}

.services-info-holder {
  /*display: grid;*/
}


.card-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: rgba(255, 255, 255, 0.58);
  /*box-shadow: 0 0 43px -19px rgba(0,0,0,0.51);*/
  /*border: 1px solid black;*/
  margin: auto 0;
  /*z-index: 100;*/
}

.card-service:hover {
  background: #3F65FF;
  color: #fff;
}

.card-service:hover .service-icon {
  fill: #fff;
}

.service-icon {
  fill: #3F65FF;
}

.service-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.review-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 98%;
  min-height: 250px;
  margin: auto 5px;
}

.review-nav {
  position: relative;
  bottom: 150px;
  /* top: 0; */
}

.icon-review-platform {
  width: 15px;
}

.quote i {
  /* display: flex;
  justify-content: center; */
  font-size: 20px;
  width: 60px;
  height: 60px;
  padding: 20px 20px;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  left: 0;
  top: 25px;
  background: rgb(219, 219, 219);
  border-radius: 50%;
}

.half {
  display: flex;
  justify-content: center;
}

.skills-time-info {
  line-height: 1.7em;
  padding: 0 10px 0 10px;
  margin: 25px 0 4px 0;
}

.text-large {
  font-size: 1.5rem;
}

.text-small {
  font-size: 1.4rem;
}

.text-grey {
  color: #999999;
}

.text-bold {
  font-weight: bold;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.skill-name {
  /* width: 150px; */
  /* height: 150px; */
}

.skill-percentage-circle {
  position: relative;
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
}

.skill-percentage-circle, .skill-percentage-number {
  width: 100%;
  height: 100%;
}

.skill-percentage-number {

}

.flex {
  display: flex;
}



.margin-right {
  /* margin: 10px 0; */
  min-width: 120px;
  /* padding-right: auto; */
}

.margin-top-none {
  margin-top: 0 !important;
}

.margin-top-5 {
  margin: 5px 0 0 0;
}

.margin-top-10 {
  margin: 10px 0 0 0;
}

.margin-top-15 {
  margin: 15px 0 0 0;
}

.margin-top-20 {
  margin: 20px 0 0 0;
}

.margin-top-25 {
  margin: 25px 0 0 0;
}

.margin-top-35 {
  margin: 35px 0 0 0;
}

.smscr-margin-10 {
  margin-left: 0;
  margin-right: 0;
}

.lgscr-margin-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.responsive-padding-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.responsive-margin-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.responsive-margin-15 {
  margin-right: 15px;
  margin-left: 15px;
}

.responsive-margin-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.responsive-margin-25 {
  margin-right: 25px;
  margin-left: 25px;
}

.responsive-margin-35 {
  margin-right: 25px;
  margin-left: 25px;
}

.responsive-margin-50 {
  margin-right: 50px;
  margin-left: 50px;
}

.margin-none {
  margin: 0 !important;
}

.horizontal-margin-none{
  margin-right: 0;
  margin-left: 0;
}

.margin-right-none{
  margin-right: 0;
}

.margin-left-none{
  margin-left: 0;
}

.horizontal-margin-2nah {
  margin-right: 2.5px;
  margin-left: 2.5px;
}

.horizontal-margin-5 {
  margin-right: 5px;
  margin-left: 5px;
}

/* .horizontal-margin-10-right {
  margin-right: 10px;
} */

.horizontal-margin-10 {
  margin-right: 10px;
  margin-left: 10px;
}


.horizontal-margin-15 {
  margin-right: 15px;
  margin-left: 15px;
}

.horizontal-margin-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.horizontal-margin-25 {
  margin-right: 25px;
  margin-left: 25px;
}

.horizontal-margin-50 {
  margin-right: 50px;
  margin-left: 50px;
}

.horizontal-margin-75 {
  margin-right: 75px;
  margin-left: 75px;
}

.horizontal-margin-b4 {
  margin-right: 100px;
  margin-left: 100px;
}

.vertical-margin-10 {
  margin: 10px auto;
}

.vertical-margin-50 {
  margin: 50px auto;
}


.margin-top-b1 {
  margin-top: 25px;
}

.margin-top-b2 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}


.margin-bottom-none {
  margin-bottom: 0;
}


.skill-percentage-number p{
  font-size: 2rem;
  position: relative;
  top: -135px;
  font-weight: 700;
}

.percentage-sign {
  font-weight: 400;
  font-size: 1.6rem;
  position: relative;
  bottom: 3px;
  /* padding-bottom: 6px; */
}

.skills-container-bars {
  margin-top: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.bar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-info{
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* display: flex; */
  margin: 40px 25px 0 0;
}

.progress-bar-percentage {
  position: relative;
  float: left;
  left: 300px;
  top: -50px;
}

.progress-bar {
  position: relative;
  width: 450px;
  height: 0.6em;
  background: rgb(235, 235, 235);
  border-radius: 0.1em;
  /* margin: 0 0 0 10px; */
}

.progress-bar-name {
  position: relative;
  top: -10px;
}

#bar1::before {
  content: '';
  display: flex;
  position: absolute;
  height: 0.6em;
  border-radius: 0.1em;
  background: rgb(0, 132, 255);
  min-width: 85%;
  /* width: 0%; */
}

#bar2::before {
  content: '';
  display: flex;
  position: absolute;
  height: 0.6em;
  border-radius: 0.1em;
  background: rgb(0, 132, 255);
  min-width: 90%;
  /* width: 0%; */
}

#bar3::before {
  content: '';
  display: flex;
  position: absolute;
  height: 0.6em;
  border-radius: 0.1em;
  background: rgb(0, 132, 255);
  min-width: 70%;
  /* width: 0%; */
}

#bar4::before {
  content: '';
  display: flex;
  position: absolute;
  height: 0.6em;
  border-radius: 0.1em;
  background: rgb(0, 132, 255);
  min-width: 80%;
  /* width: 0%; */
}

.progress-bar-percentage {
  position: relative;
  right: 60px;
  width: 39px;
}

.percentage-number {
  width: 29px;
}

.svg-skill {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 10;
}

.circle-skill {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 7;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.svg-skill .circle-skill:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card-skill:nth-child(1) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3e64ff;
}


.card-skill:nth-child(2) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #3e64ff;
}

.card-skill:nth-child(3) svg circle:nth-child(2){
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #3e64ff;
}

.heading-container {
  display: flex;
  align-items: center;
}

.heading-link {
  color: rgb(107, 46, 221) !important;
  height: 100%;
  margin: 0 10px 0 auto;
  padding: 0;
}

.heading-link:hover {
  text-decoration: underline;
}

.heading {
  font-weight: 800;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #3e64ff;
}

.page-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.btn-custom {
  padding: 6px 6px;
  cursor: pointer;
}

.btn-custom-close:hover {
  color: #575757;
}

.font-md {
  font-size: 20px;
}

.alert {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 6px !important;
  margin: 0 !important;
  z-index: 5000;
}

.alert > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.alert-info-icon {
  margin-right: 10px !important;
  border: 1px solid transparent;
  background: rgb(75, 183, 255);
  border-radius: 50%;
  padding: 5px 10px;
}

.float-right {
  float: right;
}

.alert-info {
  /*display: none;*/
  color: #fff;
  background-color: #0099ff;
  border: none;
  border-radius: unset;
}

.alert1 {
  display: none;
}

.alert-message {
  display: inline-block;
  padding: 6px 0;
  margin: 0 !important;
}

.nav-mobile {
  height: 50px;
  /* height: 5.2vh; */
  background: #008cff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 2000;
}

.nav-mobile-items {
  display: none;
  color: white !important;
}

.portfolio-nav {
  width: 380px;
  position: fixed !important;
  /* position: relative; */
}

.portfolio-nav-fixed {
  position: fixed;
}

.side-nav-active {
  color: #3e64ff;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.side-nav-active::after {
  position: absolute;
  top: 50%;
  left: -30px;
  width: 20px;
  height: 2px;
  content: '';
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  background: #3e64ff;
}


.project-item {
  margin: 0 10px 0 0;
  border-radius: 20%;
  /* height: 100% !important; */
  /* height: 326.66px !important; */
}

.project-item:last-child {
  margin: 0 0 0 0;
}

.project-item:hover a{
  text-decoration: underline;
  color: #3700ff;
}

.btn-primary {
  border-radius: 4px !important;
  background-color: #3369ff !important;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 4.4px 2px 3.6px 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-primary i {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  transition: 0.3s;
  opacity: 0;
}

.btn-primary:hover i {
  opacity: 1 !important;
  padding-left: 9px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 2px;
  right: 0;
}


.menu-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 21px;
  transition: all 0.2s ease-out;
}

.btn-line {
  width: 36px;
  height: 4px;
  margin: 0 0 8px 0;
  background: rgb(41, 41, 41);
  transition: 0.2s all ease-out;
}

.menu-btn.close {
  transform: translate(0, 0);
}

.menu-btn.close .btn-line{
  background: #ff0000;
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(11px, 10.5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6.7px);
  /* transform: rotate(-45deg) translate(6px, -6.7px); */
}

.mouse {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 130px;
  z-index: 2;
}

.mouse-icon {
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0 auto;
  bottom: 0;
  background: #e7eefc;
  z-index: 1;

}

.about-info {
  width: 300px;
}

.about-list {
  width: 300px;
  padding: 10px 0;
  /* float: left; */
  /* position: relative; */
  /* line-height: 40px; */
}

.left {
  position: relative;
  top: -49px;
  left: 80px;
}

/* .mouse-wheel {
  -ms-transform: scale(0.4,0.4);
  transform: scale(0.4,0.4);
} */

#iconArrowCustom {
  transform: translate(1, 1);
}

.circles {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 158.65px;
  height: 158.65px;
  /* margin: 10px 35px 0 35px; */
}

.progressbar-text {
  font-weight: 600;
  /* color: #2b2b2b; */
}

.progressbar-text::after {
  content: "%";
  font-size: 2rem;
  position: relative;
  top: -13px;
}

.arrow-down-animated {
  position: relative;
  background: transparent !important;
  animation-name: arrowDownAnimation;
  animation-duration: 1800ms;
  animation-iteration-count: infinite;
  transition: all;
}

@keyframes arrowDownAnimation {
  0% {
    top: -15px; right: -5px;
  }
  100% {
    top: 25px; right: -5px;
  }
}


.mouse-wheel {
  margin: 8px auto;
  display: block;
  height: 70px;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
  color: #3e64ff;
  font-size: 30px;
}

.bold {
  font-weight: bold;
}


.gliderImg {
  /* height: 100%;
  width: 100%; */
}

input {
  /* border: 1px solid #aaa; */
  /* box-sizing: border-box !important; */
}


input:focus {
  /* border: 1px solid #000000 !important; */
  /* border-bottom: 4px solid #1fc3ff !important; */
  outline: none;
  /* height: 53px !important; */
  /* box-sizing: border-box !important; */
  box-shadow: none;
}


textarea:focus {
  /* border: 1px solid #000000 !important; */
  /* border-bottom: 4px solid #1fc3ff !important; */
  outline: none;
  /* height: inherit !important; */
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  background-color: rgb(243, 243, 243);
}

.contact input {
  height: 53px;
  margin: 0 0 20px 0;
  font-size: 16px;
  border: 1px solid #c7c7c7;
}

textarea {
  font-size: 16px;
  border: 1px solid #c7c7c7;
}

.form-control {
  padding: 10px 10px;
  border-radius: 5px;
}

.btn-form {
  border-radius: 50px !important;
  height: 50px;
  width: 200px;
}

.footer-section {
  font-size: 16px;
  background: #000000;
  padding: 7em 0;
  z-index: 0;
  color: #fff;
}

.footer-items {
  display: flex;
  /* width: 100%; */
}

.footer-item {
  margin-right: 10px;
  width: 100%;
}

.center-align {
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer-text {
  color: #ffffff8e;
  font-weight: 500;
}

.sl-mid {
  border-radius: 50%;
  /*background: rgba(255, 255, 255, 0.05);*/
  width: 50px;
  height: 50px;
  margin: 50px 20px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons-mid {
  width: 35px;
  height: 35px;
}

.icon-mid {
  position: relative;
  top: 0;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.icon-small {
  position: relative;
  top: 3px;
  margin-right: 3px;
  width: 20px;
  height: 20px;
}

.list-services {
  display: flex;
  flex-direction: column;
}

.service-list {
  line-height: 40px;
}

.disabled {
  user-select: none;
}

.about-contact-list {
  margin-bottom: 20px;
}